* {
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    float: left;
    width: 50%;
}

.Card1 {
  width:400px;
  border:1px solid #000;
  background-color: #FFFFFF;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CARHDSCard {
  width:400px;
  border:1px solid #000;
  background-color: #FFFFFF;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
